body {
  background-color: #e6fff2;
}

h1 {
  color: #0d6efd;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-text {
  flex-grow: 1;
  margin-left: 10px;
  cursor: pointer;
}

.todo-complete {
  text-decoration: line-through;
  color: gray;
}
